@switch (viewMode()) {
  @case ('listar') {
    <app-personagem-listar
      [personagens]="personagens()"
      (incluir)="irParaIncluir()"
      (detalhar)="onDetalhar($event)"
      (editar)="onEditar($event)"
      (remover)="onRemover($event)"
      (statusAlterado)="onStatusAlterado($event)"
    />
  }
  @case ('incluir') {
    <app-personagem-incluir
      (salvar)="onIncluirSalvar($event)"
      (cancelar)="irParaListar()"
    />
  }
  @case ('alterar') {
    @if (personagemSelecionado(); as p) {
      <app-personagem-alterar
        [personagem]="p"
        (salvar)="onAlterarSalvar($event)"
        (cancelar)="cancelarAlteracao()"
      />
    }
  }
  @case ('detalhar') {
    @if (personagemSelecionado(); as p) {
      <app-personagem-detalhar
        [personagem]="p"
        (voltar)="irParaListar()"
        (editar)="onEditar($event)"
      />
    }
  }
}
